In [1]:
# 1. Let us say your expense for every month are listed below,
# 1. January -  2200
# 2. February - 2350
# 3. March - 2600
# 4. April - 2130
# 5. May - 2190
#
# Create a list to store these monthly expenses and using that find out,
#
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

In [12]:
expense_list = [2200,2350,2600,2130,2190]

In [13]:
#1. In Feb, how many dollars you spent extra compare to January?
print('extra amount spent in feb than jan :', expense_list[1]-expense_list[0])

extra amount spent in feb than jan : 150

In [14]:
# 2. Find out your total expense in first quarter (first three months) of the year.
print('total expense in first 3 months :', sum(expense_list[:3]))

total expense in first 3 months : 7150

In [15]:
# 3. Find out if you spent exactly 2000 dollars in any month
print('Did I spend exactly 2000 $:', 2000 in expense_list)

Did I spend exactly 2000 $: False

In [16]:
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expense_list.append(1980)
print(expense_list)

[2200, 2350, 2600, 2130, 2190, 1980]

In [17]:
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
print('expense list before refund :', expense_list)
expense_list[4] = expense_list[4] - 200
print('updated expense list after refund :',expense_list)

expense list before refund : [2200, 2350, 2600, 2130, 2190, 1980]
updated expense list after refund : [2200, 2350, 2600, 2130, 1990, 1980]

### Interview problem

In [18]:
#Chocolate Distribution Problem 
#Given an array of N integers where each value represents the number of chocolates in a packet.
#Each packet can have a variable number of chocolates.
#There are m students, the task is to distribute chocolate packets such that: 
#1. Each student gets one packet.
#2. The difference between the number of chocolates in the packet with maximum chocolates and the packet with minimum chocolates given to the students is minimum.

In [19]:
arr = [12, 4, 7, 9, 2, 23, 25, 41,
           30, 40, 28, 42, 30, 44, 48,
           43, 50]

In [20]:
m = 7

In [21]:
n = len(arr)

In [26]:
arr.sort()

In [24]:
if (m == 0 or n == 0):
    print('one of them is zero')
else:
    print('both are not zero')

both are not zero

In [25]:
if(n<m):
    print('n less than m, distribution not possible')
else:
    print('distribution possible')

distribution possible

In [29]:
#largest difference between number of chocolates
min_diff = arr[n-1] - arr[0]
print(min_diff)

48

In [33]:
for i in range(n-m+1):
    min_diff = min(min_diff, arr[i+m-1]-arr[i])
print(min_diff)

10